body{
    background-color: rgb(77, 75, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    overflow-y: hidden;
}
.container{
    color: rgb(211, 215, 218);
    margin: 20vw;
}

.digit{
    font-size: 7vw;
    font-weight: bold;
}
.txt{
    font-size: 4vw;
    font-weight: bold;
}

.btn-container{
    text-align: center;
    margin-top: 15px;
}

.btn{
    font-size: 1.5vw;
    padding: 0.7vw 2.5vw;
    margin: 0vw 1.5vw;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#start{
    background-color: rgb(74, 228, 74);
}
#stop{
 background-color: rgb(74, 74, 203);
}
#Reset{
 background-color: rgb(195, 61, 61);
}

@media only screen and (max-width: 394px){
    .digit{
        font-size: 9vw;
    }
    .time{
        width: 68vw;
    }
    .btn{
        font-size: 3vw;
    }
}